$white: #fff;
$black: #000;

$primary: rgb(42, 42, 55);
$secondary: #f1ede9;
$tertiary: rgb(54, 166, 206);
$darker-tertiary: #294c59;
$tertiary-alt: #4267b2;
$accent-soft: rgb(209, 168, 92);
$darker-accent-soft: #5f4c29;
$accent-strong: rgb(196, 39, 81);
$darker-accent-strong: #5a1b2c;

$header-height: 5rem;
$border-radius: 20px;

$font-pixel: "Pixel";
$font-main: "NewRodin";

// FONT-SIZE

$small-title : 36px;
$sub-title : 28px;